.border-game{
    width: 1300px;
    border:solid 1px black;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
}


.pipe{
    position:absolute;
    bottom: 0;
    right: -80px;
    width: 75px;
    right: 0%;
    animation: pipe  2s infinite linear; /* conforme o tempo passa quero aumentar a velocidade pelo js */
}


.mario{
    position: absolute;
    bottom: 0px;
    width: 170px; 
}

.jump{
    
    animation: jumpe 500ms ease-out;

}

@keyframes pipe {
    from{
        right: -80px;
    }
    to{
        right:100%;
    }
}

@keyframes jumpe {
    0%{
        bottom: 0%;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 190px;
    }
    60%{
        bottom: 200px;
    }
    100%{
        bottom:0px;
    }
}