.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.borda{
    border: solid 1px black;
    
}

.border-game{
    width: 90%;
    border: 1px black;
    border-bottom:solid 25px rgb(7, 146, 7);
    height: 500px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #ace4fa);
    display:flex;
    align-items: center;
    justify-content:center;
}

.gameover,
.start{
    background-color: gray;
    width:130px;
    height:130px;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:  15px;
    font-size:2px;

}
.cloudRun{
    animation: cloud-movimention 24s infinite linear;
}
.cloudRun2{
    animation: cloudMove 30s infinite linear  !important ; 
}

.pipeRun{
    animation: pipe 1.8s infinite linear;
}
.pipe{
    position:absolute;
    bottom: 0;
    right: -80px;
    width: 75px;
    z-index: 1;
    right: 0%;
    /* conforme o tempo passa quero aumentar a velocidade pelo js */
}


.botaoJump{
    height: 40px;
    width:80%;
    border-radius:5px;
    margin-top:10px;
}
.escondido{
    display:none;
}

.mario{
    position: absolute;
    bottom: 0px;
    left:0;
    width: 90px; 
    z-index: 1;
}

.jump{
    animation: jumpe 0.9s ease-out ;
}

.cloud,
.cloud2{
    width: 350px;
    position: absolute;
}


@keyframes pipe {
    from{
        right: -80px;
    }
    to{
        right:100%;
    }
}

@keyframes jumpe {
    0%{
        bottom: 0%;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 190px;
    }
    55%{
        bottom: 190px;
    }
    60%{
        bottom: 190px;
    }
    70%{
        bottom: 180px;
    }
    75%{
        bottom: 170px;
    }
    78%{
        bottom: 164px;
    }
    80%{
        bottom: 160px;
    }
    83%{
        bottom: 155px;
    }
    85%{
        bottom: 144px;
    }
    88%{
        bottom: 136px;
    }
    90%{
        bottom: 120px;
    }
    95%{
        bottom:110px;
    }
    97%{
        bottom:100px;
    }
    98%{
        bottom:70px;
    }
    99%{
        bottom:50px;
    }
    
    100%{
        bottom: 0px;
    }
}


@keyframes cloud-movimention {
    from{
        right: -350px;
    }
    to{
        right:  100%;
    }
}

@keyframes cloudMove {
    from{
        right: -650px;
    }
    to{
        right:  100%;
    }
}
